<app-header></app-header>

<div class="features-tabs-section">
  <div class="container">
    <div class="header">
      <h1 class="product-title">Our Products</h1>
      <p>Choose your favorite formats for your own sites</p>
    </div>
  </div>
</div>
<div class="product-section">
  <div class="container ">
  <img class="img-fluid" src="../../../assets/images/zops/zops-api-connect.jpg">
  </div>
</div>
<div class="services-grid-section services-grid-section--border">
      <ul>
        <div class="header row">
          <div class="col-md-3"></div>
          <img src="../../../assets/images/zops/icons/roc.jpeg" class="mr-2 img-fluid" />
          <div class="col-md-4">
          <a href="roc" class="products">Realtime Online Chat</a>
          <p>Choose your favorite formats for your own sites</p>
          </div>
        </div>
        <div class="header row">
          <div class="col-md-3"></div>
          <img src="../../../assets/images/zops/icons/push.jpeg" class="mr-2 img-fluid" />
          <div class="col-md-4">
          <a href="push" class="products">Push Messages</a>
          <p>Choose your favorite formats for your own sites</p>
          </div>
        </div>
        <div class="header row">
          <div class="col-md-3"></div>
          <img src="../../../assets/images/zops/icons/sms.jpeg" class="mr-2 img-fluid" />
          <div class="col-md-4">
          <a href="sms" class="products">Sms Messaging</a>
          <p>Choose your favorite formats for your own sites</p>
          </div>
        </div>
        <div class="header row">
          <div class="col-md-3"></div>
          <img src="../../../assets/images/zops/icons/mtom.jpeg" class="mr-2 img-fluid" />
          <div class="col-md-4">
          <a href="m2m" class="products">Machine to Machine Messaging</a>
          <p>Choose your favorite formats for your own sites</p>
          </div>

        </div>
      </ul>
    </div>

<app-short-footer></app-short-footer>
