.btn-shadow.btn-shadow-info {
  background: #104C5E;
  border-radius: 100px;
}
.signup-cta {
  margin-bottom: 120px;
}
.features-tabs-section{
  background: #227790;
  margin-top: 0px;
  height: 400px;
}
.features-tabs-section .header {
  text-align: center;
  padding-top: 60px;
}
.product-title{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.06em;
  line-height: 100px;
  font-size: 50px;
  color: #ffffff;
}
.products {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.06em;
  line-height: 100px;
  font-size: 30px;
  color: #104C5E;
}
.features-tabs-section .header p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.product-section{
  background: #104C5E;
  background-repeat:no-repeat;
  background-position: center;
  margin-top: 20px;
  background-size: 1000px;
  background-color: #ffffff;
}

.page-anchors {
  margin: 420px 0 0;
  padding: 0;
}
.services-grid-section {
  margin-top: 30px;
}
.services-grid-section--border .header {
  border-top: 1px solid #e6e6e8;
  padding-top: 70px;
  padding-bottom: 70px;
}
.services-grid-section .header h3 {
  font-size: 26px;
  color: #104C5E;
  line-height: 33px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 30px;
}

.page-anchors__link {
  display: inline-block;
  color: #f12e45;
  letter-spacing: .15em;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
}
.overview--hero--label {
  margin: 0px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: .15em;
}
