<app-header></app-header>
<div class="features-tabs-section">
  <div class="container">
    <div class="header">
      <h1 class="product-title">Realtime Online Chat</h1>
      <p>Choose your favorite formats for your own sites</p>
    </div>
  </div>
</div>
<div class="index">
<div class="container">
  <img class="img-fluid" src="../../../../assets/images/zops/zops-roc.jpg">
</div>
</div>
<div class="pricing-band text-center">
  <ul class="fine-print__list">
    <li class="fine-print__item">Pay-as-you-go with no upfront costs</li>
    <li class="fine-print__item">Starting at $0.0008/message and $0.02/user</li>
    <li class="fine-print__item"><a href="roc-pricing" class="fine-print__link">Learn more</a></li>
  </ul>
</div>
<div class="support">
  <div class="container">
    <div class="group-header__title text-center">Advantages</div>
    <div class="row">
      <div class="col-md-4 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <a>
          <strong>Billing information</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>

  </div>
</div>
<div class="support-topics" >
  <div class="container" id="feature">
    <div class="group-header__title_ text-center">Features</div>

    <div class="row">
      <div class="col-md-6 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-6 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-6 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
  </div>
  <ul class="page-anchors2 text-center">
    <div class="page-anchors__links">
      <i class="fa fa-angle-double-down arrow" aria-hidden="true"></i>
      <a href="products" data-smooth-scroll="" class="page-anchors__link">View All Features</a>
    </div>
  </ul>
</div>
<div class="signup-cta">
  <div class="container">
    <div class="wrapper clearfix">
      <h4>Try React now and take template design to a whole new level</h4>
      <a href="signup" class="btn-shadow btn-shadow-info btn-shadow-lg mt-4">Sign up free</a>
    </div>
  </div>
</div>
<app-short-footer></app-short-footer>
