#!/usr/bin/env bash
{% if redis_master is defined %}
/usr/bin/redis-cli -a quohte2AaekipheeDo3E8iWaLieT2iesGoo2ejikIepe4kooooQu6aDauixaiMe0uXaer0Lutie3exnoooR6ahcuXeet5leicoo7Tiehcsa3Tha5whai1OhGAj6yag7AeekoT7aethohJai1Iefie8mu save
{% else %}
/usr/bin/redis-cli save
{% endif %}