<footer>
  <div class="container">
    <div class="row text-center">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <ul class="list-inline">

            <a href="https://www.facebook.com/zetaops/"><i class="fa fa-facebook fa-2x"></i></a>

            <a href="#"><i class="fa fa-dropbox fa-2x"></i></a>

            <a href="https://github.com/zetaops/"><i class="fa fa-github fa-2x"></i></a>

            <a href="https://www.linkedin.com/company/5232501/"><i class="fa fa-linkedin fa-2x"></i></a>

            <a href="https://plus.google.com/103327578912626750602"><i class="fa fa-google-plus fa-2x"></i></a>
        </ul>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <ul class="menu list-inline">

            <a href="#">About</a>

            <a href="#">Privacy</a>

            <a href="#">Press & Media</a>

            <a href="#">Investors </a>

            <a href="#">Jobs</a>

        </ul>
      </div>


    </div>
  </div>
  <div class="text-center">
    <div class="logo-footer">
    <img src="../../../assets/images/zops/zops-logo.png"/>
     </div>
    <p class="logo">Copyright © 2018. ZetaOps</p>
  </div>
</footer>

