.features-tabs-section{
  background: #227790;
  margin-top: 0px;
  height: 400px;
}
.features-tabs-section .header {
  text-align: center;
  padding-top: 60px;
}
.features-tabs-section .header p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.product-title{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.06em;
  line-height: 100px;
  font-size: 50px;
  color: #ffffff;
}
.support{
  margin-top: 0px;
  background-color:#EDEDED;
  padding: 100px;
}
.support .topic {
  margin-bottom: 45px;
  color: #454545;

}
.support .topic p {
  margin-top: 17px;
  color: #454545;
}
.support-topics{
  margin-top: 0px;
  padding: 100px;
}
