<div class="footer footer--light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 menu">
        <h3>Products</h3>
        <ul>
          <li>
            <a href="/roc">Realtime Online Chat</a>
          </li>
          <li>
            <a href="/push">PUSH Messages</a>
          </li>
          <li>
            <a href="/m2m">Machine to Machine Messaging</a>
          </li>
          <li>
            <a href="/sms">SMS Messaging</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 menu">
        <h3>Solutions</h3>
        <ul>
          <li>
            <a href="/m2m-hub">M2M Hub</a>
          </li>
          <li>
            <a href="/marketing">Marketing Communication</a>
          </li>
          <li>
            <a href="/realtime">Realtime Online Chat</a>
           <!-- <a href="aboutus.html" class="hiring">
              We're hiring!
            </a> -->
          </li>
        </ul>
      </div>

      <div class="col-md-3 menu">
        <h3>Docs</h3>
        <ul>
          <li>
            <a href="/api">API References</a>
          </li>
          <li>
            <a href="/quickstart">Quickstarts</a>
          </li>
          <li>
            <a href="/tutorial">Tutorials</a>
          </li>
          <li>
            <a href="/guide">Guides</a>
          </li>
          <li>
            <a href="/#">Blog</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 menu">
        <h3>Company</h3>
        <ul>
          <li>
            <a href="/#">About Us</a>
          </li>
          <li>
            <a href="/#">Customers</a>
          </li>
          <li>
            <a href="/#">Get Help</a>
          </li>
          <li>
            <a href="/#">Talk to Sales</a>
          </li>
          <li>
            <a href="/#">Press & Media</a>
          </li>
          <li>
            <a href="/#">Investor Relations</a>
          </li>
          <li>
            <a href="/#">Jobs at Zops</a>
          </li>
          <li>
            <a href="/cookie-policy">Privacy Policy & Cookie Usage</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="credits">
      <p>Copyright © 2018. ZetaOps</p>
    </div>
  </div>
</div>
