#title {
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 100px;
}
.footer {
  border-top: 1px solid #dadfe5;
}
