<app-header></app-header>
<div class="features-tabs-section">
  <div class="container">
    <div class="header">
      <h1 class="product-title">ZOPSM Pricing</h1>
      <p>Only pay for what you use. Don’t get stalled by contracts, capacity planning, and price modeling.</p>
    </div>
  </div>
</div>
<div class="support">
  <div class="container">
    <div class="group-header__title text-center">SIMPLE, FLEXIBLE PRICING OPTIONS</div>
    <div class="row">
      <div class="col-md-4 topic">
        <img src="../../../assets/images/zops/icons/pay.png" class="mr-2 img-fluid" />
        <a>
          <strong>Pay-as-you-go</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <img src="../../../assets/images/zops/icons/pay.png" class="mr-2 img-fluid" />
        <a>
          <strong>Volume discounts</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <img src="../../../assets/images/zops/icons/pay.png" class="mr-2 img-fluid" />
        <a>
          <strong>Committed-use discounts</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="pricing-3-options-section">
  <div class="container">
      <div class="cta-section">
        <br>
        <p class="ready-text">
          Start building today with free trial credit and full API access.
        </p>
        <div class="cta customFadeInDown ready-button-position">
          <a href="signup" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">Get started for free</a>
        </div>
      </div>
  </div>
</div>
<div class="services-grid-section services-grid-section--border">
  <ul>
    <div class="header row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="../../../assets/images/zops/zops-price-roc.png" class=" mr-2 img-fluid">
        <div>
          <a href="roc" class="products">Realtime Online Chat</a>
          <p>Choose your favorite formats for your own sites</p>
        </div>
      </div>
      <div class="col-md-4 online-support">
        <p>
          Starting at $0.0085/min to receive and $0.013/min to make a call.
        </p>
        <a href="roc-pricing" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">See Details</a>
      </div>
    </div>
    <div class="header row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="../../../assets/images/zops/zops-price-push.png" class=" mr-2 img-fluid">
        <div>
          <a href="push" class="products">Push Messages</a>
          <p>Choose your favorite formats for your own sites</p>
        </div>
      </div>
      <div class="col-md-4 online-support">
        <p>
          Starting at $0.0085/min to receive and $0.013/min to make a call.
        </p>
        <a href="push-pricing" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">See Details</a>
      </div>
    </div>
    <div class="header row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="../../../assets/images/zops/zops-price-sms.png" class="mr-2 img-fluid" />
        <div>
          <a href="sms" class="products">Sms Messaging</a>
          <p>Choose your favorite formats for your own sites</p>
        </div>
      </div>
      <div class="col-md-4 online-support">
        <p>
          Starting at $0.0085/min to receive and $0.013/min to make a call.
        </p>
        <a href="sms-pricing" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">See Details</a>
      </div>
    </div>
    <div class="header row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="../../../assets/images/zops/zops-price-m2m.png" class="mr-2 img-fluid" />
        <div>
          <a href="m2m" class="products">Machine to Machine Messaging</a>
          <p>Choose your favorite formats for your own sites</p>
        </div>
      </div>
      <div class="col-md-4 online-support">
        <p>
          Starting at $0.0085/min to receive and $0.013/min to make a call.
        </p>
        <a href="m2m-pricing" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">See Details</a>
      </div>
    </div>
  </ul>
</div>

<div class="pricing-3-options-section">
  <div class="container">
    <div class="contact">
      <div class="wrapper clearfix">
        <h4>
          <span class="brankic-phone2"></span>
          Unsure which plan is best for you? You can call our sales team any day at
          <strong>1-800-123-4567</strong>
        </h4>

      </div>
    </div>
  </div>
</div>
<div class="support">
  <div class="container">
    <div class="group-header__title text-center">Advantages</div>
    <div class="row">
      <div class="col-md-4 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <a>
          <strong>Billing information</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
  </div>
  <div class="pricing-3-options-section">
    <div class="container">
      <div class="cta-section">
        <div class="cta customFadeInDown ready-button-position">
          <a href="signup" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">Sign up and start building </a>
        </div>
      </div>
      <div class="pricing-band text-center">
        <ul class="fine-print__list">
          <li class="fine-print__item">Not ready yet?</li>
          <li class="fine-print__item"><a class="fine-print__link" href="contact">Talk to Sales</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-short-footer></app-short-footer>
