<app-header></app-header>
<div class="features-tabs-section">
  <div class="container">
    <div class="header">
      <h1 class="product-title">Machine to Machine Hub</h1>
      <p>Choose your favorite formats for your own sites</p>
    </div>
  </div>
</div>
<div class="support-topics" >
  <div class="container" id="feature">

    <div class="row">
      <div class="col-md-6 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-6 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-6 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-6 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
