<app-header></app-header>
<div class="features-tabs-section">
  <div class="container">
    <div class="header">
      <h1 class="product-title">ZOPSM Use Cases</h1>
      <p>Choose your favorite formats for your own sites</p>
    </div>
  </div>
</div>
<div class="services-grid-section services-grid-section--border">
  <div class="container">
    <ul>
      <div class="header row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="use-case">
            <span class="products">Machine to Machine Hub</span>
          </div>
        </div>
        <div class="col-md-5 online-support">

          <p>
            Starting at $0.0085/min to receive and $0.013/min to make a call.
            Starting at $0.0085/min to receive and $0.013/min to make a call.
          </p>
          <div class="cta text-center">
            <a href="m2m-hub" class="btn-shadow btn-shadow-success btn-shadow-lg-2">Learn more</a>
          </div>
        </div>
      </div>
      <div class="header row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="use-case">
            <span class="products">Marketing Communication</span>
          </div>
        </div>
        <div class="col-md-5 online-support">

          <p>
            Starting at $0.0085/min to receive and $0.013/min to make a call.
            Starting at $0.0085/min to receive and $0.013/min to make a call.
          </p>
          <div class="cta text-center">
            <a href="marketing" class="btn-shadow btn-shadow-success btn-shadow-lg-2">Learn more</a>
          </div>
        </div>
      </div>
      <div class="header row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="use-case">
            <span class="products">Real Time Online Chat</span>
          </div>
        </div>
        <div class="col-md-5 online-support">

          <p>
            Starting at $0.0085/min to receive and $0.013/min to make a call.
            Starting at $0.0085/min to receive and $0.013/min to make a call.
          </p>
          <div class="cta text-center">
            <a href="realtime" class="btn-shadow btn-shadow-success btn-shadow-lg-2">Learn more</a>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
<div class="support">
  <div class="container">
    <div class="group-header__title text-center">Advantages</div>
    <div class="row">
      <div class="col-md-4 topic">
        <a>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <a>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-md-4 topic">
        <a>
          <strong>Billing information</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
  </div>
  <div class="pricing-3-options-section">
    <div class="container">
      <div class="cta-section">
        <div class="cta customFadeInDown ready-button-position">
          <a href="signup" class="btn-shadow btn-shadow-success btn-shadow-lg-2 ready-button">Sign up and start building </a>
        </div>
      </div>
      <div class="pricing-band text-center">
        <ul class="fine-print__list">
          <li class="fine-print__item">Not ready yet?</li>
          <li class="fine-print__item"><a class="fine-print__link" href="contact">Talk to Sales</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-short-footer></app-short-footer>
