<app-header></app-header>

<div *ngIf="!isResetActive" class="session-page">
  <div class="container" style="padding: 20px;">

    <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>We'll send you an email to reset your password.</p>
    </div>

    <any-error [show]="anyError"></any-error>

    <div class="wrapper">
      <div class="formy">
        <form role="form" (ngSubmit)="forgot.form.valid && forgotPassword(forgot)" #forgot="ngForm" novalidate>

          <div class="form-group" style="text-align: center">
            Enter your email address that you used to register. We'll send you an email with your username and a
            link to reset your password.
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" maxlength="70"
                   name="email" #email="ngModel" email="true" ngModel required/>

            <show-errors [isFormSubmitted]="forgot.submitted" [control]="email"></show-errors>
          </div>

          <re-captcha name="recapt" #recapt="ngModel" ngModel required></re-captcha>
          <show-errors [isFormSubmitted]="forgot.submitted" [control]="recapt"></show-errors>

          <div class="text-center mt-4">
            <button [disabled]="loading" type="submit"
                    class="submit btn-block btn-shadow btn-shadow-info">
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Reset My Password
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

<div *ngIf="isResetActive" class="session-page">
  <div class="container" style="padding: 20px;">

    <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>You reset your password. Now you can sign in. Redirecting to <a href="/signin" class="alert-link">sign in</a> page...</p>
    </div>

    <any-error [show]="anyError"></any-error>

    <div class="wrapper">
      <div class="formy">
        <form role="form" (ngSubmit)="rf.form.valid && resetPassword(rf)" #rf="ngForm" novalidate>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"
                   minlength="6" maxlength="128" #password="ngModel" ngModel required/>

            <show-errors [isFormSubmitted]="rf.submitted" [control]="password"></show-errors>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                   maxlength="128" #confirmPassword="ngModel" ngModel required/>

            <show-errors [isFormSubmitted]="rf.submitted" [control]="confirmPassword"></show-errors>

            <div *ngIf="rf.value.password != rf.value.confirmPassword" class="help-block">Passwords did not match!</div>
          </div>

          <re-captcha name="recapt" #recapt="ngModel" ngModel required></re-captcha>
          <show-errors [isFormSubmitted]="rf.submitted" [control]="recapt"></show-errors>

          <div class="text-center mt-5">
            <button [disabled]="loading" type="submit"
                    class="submit btn-block btn-shadow btn-shadow-info">
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i> OK
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
