<app-header></app-header>
<div class="features-tabs-section">
  <div class="container">
    <div class="header">
      <h1 class="product-title">Machine to Machine Messaging Pricing</h1>
      <p>Add chat to any app with pay-as-you-go pricing and no upfront costs.</p>
    </div>
  </div>
</div>
<div class="support">
  <div class="container">
    <div class="pricing-group__title text-center">Usage</div>
    <div class="text-center"> <p>Only pay for what you use. Don’t get stalled by contracts, capacity planning, and price modeling.</p></div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>ITEM</th>
        <th>PRICE</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-light">
        <td>Messages</td>
        <td><p class="table-text">$0.0008 / MESSAGE SENT</p></td>
      </tr>
      <tr>
        <td>Users</td>
        <td><p class="table-text">$0.02 / USER PER MONTH</p></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="volume">
  <div class="container">
    <div class="pricing-group__title text-center">VOLUME DISCOUNTS</div>
    <div class="text-center"> <p>Automatic tiered pricing for messages and users on a per-account basis.</p></div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>MESSAGES PER MONTH</th>
        <th>PRICE PER MESSAGE*</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>First 1 thousand messages</td>
        <td><p class="table-text">FREE</p></td>
      </tr>
      <tr>
        <td>Next 1 million messages	</td>
        <td><p class="table-text">$0.00080</p></td>
      </tr>
      <tr>
        <td>Next 4 million messages	</td>
        <td><p class="table-text">$0.00068</p></td>
      </tr>
      <tr>
        <td>Next 20 million messages </td>
        <td><p class="table-text">$0.00058</p></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<app-short-footer></app-short-footer>
