<app-header></app-header>

<div class="home-section">
  <div class="container ">
    <img class="img-fluid" src="../../../assets/images/zops/zops-m2m-main.jpg">
    <div class="home-section-button text-center">
      <a href="signup" class="btn-shadow btn-shadow-lg-home">Get a Free API Key</a>
    </div>
  </div>
</div>

<div class="home-quote">
  <div class="container">
    <div class="header text-center">
      <h2>“We have decreased our messaging budget dramatically with ZOPS.”</h2>
      <p class="mt-3">Great User of ZOPS</p>
    </div>
  </div>
</div>

<div class="home-products-section">
  <div class="container">
    <div class="home-products">
      <div class="row">
        <div class="col-md-6">
          <div class="info">
            <p class="mt-lg-5">Realtime Online Chat for your apps</p>
            <ul>
              <li>Add realtime online chat function to your own application </li>
              <li>Apply your own Access Control rules to your own users </li>
              <li>Create public, private channels for your users</li>
              <li>Don't worry to scale your conversation, we did it for you :) </li>
              <li>Advanced <a href="roc" target="_blank"> features </a> with end to end encryption</li>
              <li>Check out all advanced usage scenarios and samples on our <a href="http://docs.zops.io/ROC" target="_blank"> docs</a> </li>
            </ul>
            <div style="text-align: center">
              <a href="https://docs.zops.io/ROC.html" class="btn-shadow home-product-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img src="assets/images/zops/zops-roc-small.jpg" class="img-fluid img-center" alt="feature1" />
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="home-products">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <div class="info">
            <p class="mt-lg-4">Reckless PUSH Messages</p>
            <ul>
              <li>Unified PUSH server</li>
              <li>Advanced segmentation of your all users</li>
              <li>Use PUSH messages in combination of SMS. If PUSH is not arrived, send SMS rules.</li>
              <li>Web apps, Android and IOS mobile phones covered</li>
              <li>Please check our use cases and see how we have helped to companies</li>
            </ul>
            <div style="text-align: center">
              <a href="https://docs.zops.io/PUSH.html" class="btn-shadow home-product-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-1 text-center">
          <img src="assets/images/zops/zops-push-small-main-page.jpg" class="img-fluid img-center" alt="feature2" />
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="home-products">
      <div class="row">
        <div class="col-md-6">
          <div class="info">
            <p class="mt-lg-5">Machine 2 Machine Messaging</p>
            <ul>
              <li>You want to send a love letter to your coffee maker? No problem :)</li>
              <li>We manage your all M2M messaging needs with our advanced M2M API</li>
              <li>Please check our use cases and see how we have helped to companies</li>
              <li>Docs here for developers</li>
            </ul>
            <div style="text-align: center">
              <a href="/m2m" class="btn-shadow home-product-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img src="assets/images/zops/zops-m2m-wire-all-small.jpg" class="img-fluid img-center" alt="feature3" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-integrate">
  <div class="container">
    <div class="text-center">
      <h2>Integrate Easily!</h2>
      <br>
      <div class="text-center">
        <a href="https://docs.zops.io/" class="btn-shadow home-integrate-button">See Our Docs</a>
      </div>
    </div>
    <br><br>
    <div class="language-table">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#a" role="tab" data-toggle="tab">Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#b" role="tab" data-toggle="tab">.NET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#c" role="tab" data-toggle="tab">Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#d" role="tab" data-toggle="tab">Node</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#e" role="tab" data-toggle="tab">PHP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#f" role="tab" data-toggle="tab">Ruby</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="a">
          <div>
            <pre>
              <code class="typescript">
                {{code1}}
              </code>
            </pre>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="b">
          <div>
            <pre>
              <code class="csharp">
                {{code2}}
              </code>
            </pre>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="c">
          <div>
            <pre>
              <code class="python">
                {{code3}}
              </code>
            </pre>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="d">
          <div>
            <pre>
              <code class="javascript">
                {{code4}}
              </code>
            </pre>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="e">
          <div>
            <pre>
              <code class="php">
                {{code5}}
              </code>
            </pre>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="f">
          <div>
            <pre>
              <code class="ruby">
                {{code6}}
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clients-section">
  <div class="container">
    <h3>Our Customers</h3>
    <p>
      These are some of our customers who have helped us by using our product.
    </p>
    <div class="logos">
      <img src="assets/images/logos/google.png">
      <img src="assets/images/logos/facebook.png">
    </div>
  </div>
</div>
<div class="ready-section">
  <br>
  <p class="ready-text text-center">
    Ready to Start!
  </p>
  <div class="text-center">
    <a href="signup" class="btn-shadow ready-button">Sign Up Free!</a>
  </div>
</div>
<app-footer></app-footer>
