{
  "datacenter": "dc1",
  "data_dir": "/opt/consul-data",
  "log_level": "INFO",
  "node_name": "{{ ansible_hostname }}",
  "server": false,
  "encrypt": "bwdyTV6RLbz/uQLJC3Ylvw==",

  {% if hostvars[inventory_hostname].script_check is defined %}
  "enable_script_checks": true,
  {% endif %}

  {% if encrypt == 'yes' %}
  "encrypt_verify_incoming": true,
  "encrypt_verify_outgoing": true,
  {% endif %}

  "addresses": {
   "http": "{{ ansible_default_ipv4.address }}",
   "https": "{{ ansible_default_ipv4.address }}"
   },
  "ports": {
    "https": 8501
  },

  "ca_file": "/etc/consul.d/ssl/ca.cert",
  "cert_file": "/etc/consul.d/ssl/consul.cert",
  "key_file": "/etc/consul.d/ssl/consul.key",
  "verify_incoming": true,
  "verify_outgoing": true,

  "start_join": [{% for server in groups['consul_servers'] %}
  {{ hostvars[server].ansible_ssh_host | to_json }}{% if not loop.last %},{% endif %}
  {% endfor %}
  ],

  "retry_join": [{% for server in groups['consul_servers'] %}
  {{ hostvars[server].ansible_ssh_host | to_json }}{% if not loop.last %},{% endif %}
  {% endfor %}
  ],

  "retry_interval": {{ "30s" | to_json }},
  "retry_max": 6,
  "bind_addr": "{{ ansible_default_ipv4.address }}"
}